.main-container {
  border: solid white 2px;
  height: 125vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message {
  padding-top: 10%;
  text-align: center;
  line-height: 1.5;
  font-size: 60px;
  color: #ffff;
  width: 70%;
}
.message-para {
  padding-top: 20px;
  font-size: 25px;
  font-weight: 400;
  color: #ffff;
  width: 60%;
}
.Carousel-container {
  position: absolute;
  overflow-x: hidden;
  top: 100vh;
  left: 10vw;
  width: 88vw;
}
.main-container {
  background: no-repeat scroll url("../../assets/background.jpg");
  background-size: cover;
  background-position: 50%;
}
